<header class="custom-navbar">
  <div class="nav-container">
    <a class="navbar-brand" href="/">
      <img id="navbar-logo" src="/img/Logotipo Alemediaz claro.png" alt="Logo" width="155" height="34">
    </a>


    <!-- Hamburger button -->
    <button class="hamburger" id="hamburger-btn" aria-label="Menu">
      ☰
    </button>

    <!-- Navigation links -->
    <nav class="nav-links" id="nav-links">
      <a href="#">Sobre mí</a>
      <div class="dropdown">
        <a href="#">Desarrollo web</a>
        <div class="dropdown-content">
          <a href="#">Sitios web</a>
          <a href="#">Tiendas online</a>
          <a href="#">Aplicaciones web a medida</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#">Software empresarial</a>
        <div class="dropdown-content">
          <a href="#">Action</a>
          <a href="#">Another action</a>
          <a href="#">Something else here</a>
        </div>
      </div>
      <a href="#">Contacto</a>
    </nav>
  </div>
</header>